.card {
  position: relative;
  width: 300px;
  height: 300px;
  color: #a18a96;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  margin: 10px;
}

.card_orange {
  background: url("../../../../newProject/src/app/curriculum-vitae/img/Orange_logo.svg.png") center;
  background-position: 0 140px;
  background-size: cover;


}

.card_auvergne {
  background: url("../../../../newProject/src/app/curriculum-vitae/img/region-auvergne-rhone-alpes-branding.jpg") center;
  background-position-y: -45px;
  background-size: cover;

}

.card_enedis {
  background: url("../../../../newProject/src/app/curriculum-vitae/img/ENEDIS_Icone_RVB_EXE.png") center;
  background-position-y: -45px;
  background-size: cover;
}

.card_itesoft {
  background: url("../../../../newProject/src/app/curriculum-vitae/img/itesoft.png") center;
  background-position-y: -45px;
  background-size: cover;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-top-left-radius: 20px;
  transform: translateY(70px);
  transition: transform .25s;
}

.card_content::before {
  content: '';
  position: absolute;
  top: -30px;
  right: -29px;
  width: 100px;
  height: 100px;
  transform: rotate(-155deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #fff;
}

.card_title {
  color: #6A515E;
  line-height: 15px;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
}

.card:hover .card_content {
  transform: translateY(0);
}

.card:hover .card_description {
  opacity: 1;
  transition-delay: .25s;
}

.fisrtBlock {
  display: flex;
  justify-content: center;
  border-color: black;
  border-width: 2px;
  background-color: lightgray;
  padding: 0 0 15px 0;
  border-radius: 0 0 20px 20px;
}

.block {
  display: flex;
  justify-content: center;
  border-color: black;
  border-width: 2px;
  background-color: lightgray;
  padding: 0 0 15px 0;
}

.lastBlock {
  display: flex;
  justify-content: center;
  border-color: black;
  border-width: 2px;
  background-color: lightgray;
  padding: 0 0 15px 0;
  border-radius: 20PX 20PX 0 0;
}

.block-title {
  display: flex;
  justify-content: center;
  border-color: black;
  border-width: 2px;
  background-color: lightgray;
  padding: 15px 0 5px 0;
  border-radius: 20px 20px 0 0;
  margin-top: 10px;
}

.checked {
  color: orange;
}


